.task-description-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.6;
}

.task-description-content p {
  white-space: pre-wrap;
  margin-bottom: 1em;
  line-height: 1.6;
}

.task-description-content * {
  white-space: pre-wrap;
}

.task-description-content br {
  line-height: 1.6;
}

